Lab3/Lab3Client/xml-resources/web-service-references/SqlServiceWithError_1/wsdl/desktop-vimllah_8080/Lab3/SqlServiceWithError.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Service/" name="SqlServiceWithError">
<types>
<xsd:schema>
<xsd:import namespace="http://Service/" schemaLocation="http://desktop-vimllah:8080/Lab3/SqlServiceWithError?xsd=1"/>
</xsd:schema>
</types>
<message name="UpdateData">
<part name="parameters" element="tns:UpdateData"/>
</message>
<message name="UpdateDataResponse">
<part name="parameters" element="tns:UpdateDataResponse"/>
</message>
<message name="DeleteData">
<part name="parameters" element="tns:DeleteData"/>
</message>
<message name="DeleteDataResponse">
<part name="parameters" element="tns:DeleteDataResponse"/>
</message>
<message name="SelectData">
<part name="parameters" element="tns:SelectData"/>
</message>
<message name="SelectDataResponse">
<part name="parameters" element="tns:SelectDataResponse"/>
</message>
<message name="InsertData">
<part name="parameters" element="tns:InsertData"/>
</message>
<message name="InsertDataResponse">
<part name="parameters" element="tns:InsertDataResponse"/>
</message>
<portType name="SqlServiceWithError">
<operation name="UpdateData">
<input wsam:Action="http://Service/SqlServiceWithError/UpdateDataRequest" message="tns:UpdateData"/>
<output wsam:Action="http://Service/SqlServiceWithError/UpdateDataResponse" message="tns:UpdateDataResponse"/>
</operation>
<operation name="DeleteData">
<input wsam:Action="http://Service/SqlServiceWithError/DeleteDataRequest" message="tns:DeleteData"/>
<output wsam:Action="http://Service/SqlServiceWithError/DeleteDataResponse" message="tns:DeleteDataResponse"/>
</operation>
<operation name="SelectData">
<input wsam:Action="http://Service/SqlServiceWithError/SelectDataRequest" message="tns:SelectData"/>
<output wsam:Action="http://Service/SqlServiceWithError/SelectDataResponse" message="tns:SelectDataResponse"/>
</operation>
<operation name="InsertData">
<input wsam:Action="http://Service/SqlServiceWithError/InsertDataRequest" message="tns:InsertData"/>
<output wsam:Action="http://Service/SqlServiceWithError/InsertDataResponse" message="tns:InsertDataResponse"/>
</operation>
</portType>
<binding name="SqlServiceWithErrorPortBinding" type="tns:SqlServiceWithError">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="UpdateData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SelectData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InsertData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SqlServiceWithError">
<port name="SqlServiceWithErrorPort" binding="tns:SqlServiceWithErrorPortBinding">
<soap:address location="http://desktop-vimllah:8080/Lab3/SqlServiceWithError"/>
</port>
</service>
</definitions>